<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <img class="img-logo d-block mx-auto" src="../../assets/img/report.JPG" alt="logo">
            <h4 class="text-center">INICIAR COMO</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 offset-3">
            <button routerLink="/admin/inicio" class="float-right" mdbBtn type="button" color="danger" outline="true" mdbWavesEffect >
                <mdb-icon fas icon="user-shield" class="mr-1 " size="2x"></mdb-icon>Administrador
              </button>
        </div>
        <div class="col-xl-3">
            <button class="float-right" mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>
                <mdb-icon fas icon="dumbbell" class="mr-1" size="2x"></mdb-icon>Entrenador
              </button>
        </div>
    </div>
</div>
