<div class="container">
    <div class="row mb-5 mt-3">
        <div class="col-xl-6 align-self-center">
            <h4 class="titulo">
            Servicios

            </h4>
        </div>
        <div class="col-xl-6">
            <button class="float-right" mdbBtn type="button" color="success" mdbWavesEffect>
                <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Nuevo Servicio
              </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
<!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../assets/img/crossfit.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Crossfit</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Modificar</a>
      <a href="#" mdbBtn color="danger" mdbWavesEffect>Eliminar</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
        </div>
        <div class="col-xl-4">
            <!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../assets/img/calistenia.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Calistenia</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Modificar</a>
      <a href="#" mdbBtn color="danger" mdbWavesEffect>Eliminar</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
        </div>
        <div class="col-xl-4">
<!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../assets/img/muai.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Muai thai</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Modificar</a>
      <a href="#" mdbBtn color="danger" mdbWavesEffect>Eliminar</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
        </div>
        <div class="col-xl-4 mt-5">
<!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../assets/img/bikes.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>NuBikes</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Modificar</a>
      <a href="#" mdbBtn color="danger" mdbWavesEffect>Eliminar</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
        </div>
       
    </div>
</div>
